[user]
  name = Etienne van Delden de la Haije
  email = etienne@vandelden.family
  signingkey = /Users/etienne.vandelden/.ssh/id_ed25519.pub
[alias]
  co = checkout
  ci = commit
  hist = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)'
  trust = "!mkdir -p .git/safe" # Mark a repo as trusted
[apply]
  whitespace = nowarn
[credential]
  helper = osxkeychain
[color]
  ui = true
  status = true
  branch = auto
  diff = auto
[commit]
  template = /Users/etienne.vandelden/.git-templates/gitmessage # Use a default commit template from https://robots.thoughtbot.com/better-commit-messages-with-a-gitmessage-template
  gpgsign = true
[core]
  excludesfile = /Users/etienne.vandelden/.gitignore_global
  editor = nova open --wait
  hooksPath = /Users/etienne.vandelden/.git-templates/hooks
  pager = less -+X
[difftool "default-difftool"]
  # Set OS X Filemerge as mergetool
  cmd = /usr/bin/opendiff \"$LOCAL\" \"$REMOTE\" -merge \"$MERGED\" | cat
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[merge]
  ff = true
  # tool = opendiff
  tool = default-difftool
[github]
  user = eirvandelden
  token = !security 2>&1 >/dev/null find-generic-password -gs github.token | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
[rebase]
  autoStash = true
[tag]
  gpgSign = true
[help]
  autoCorrect = immediate
[gpg]
  format = ssh
