[user]
  name = Etienne van Delden
  email = eirvandelden@me.com
	signingkey = B90A190968BEBA4F
[alias]
  co = checkout
  ci = commit
	hist = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)'
[apply]
  whitespace = nowarn
[color]
  ui = true
  status = true
  branch = auto
  diff = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[merge]
  ff = true
# Set OS X Filemerge as mergetool
  tool = opendiff
[github]
  user = eirvandelden
  token = !security 2>&1 >/dev/null find-generic-password -gs github.token | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[push]
  default = simple
[credential]
  helper = osxkeychain
[commit]
  template = ~/.gitmessage # Use a default commit template from https://robots.thoughtbot.com/better-commit-messages-with-a-gitmessage-template
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /usr/local/bin/gpg
